@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: white" href="">Pong Multiplayer</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
